@use "product/images" as *;
@use "product/variations" as *;
@use "product/buttons" as *;
@use "product/lists" as *;
@use "product/deal-product" as *;
@use "product/quick-view" as *;
@use "product/forms" as *;
@use "../../Чернетка/product_scss/form" as *;
@use "components/animations" as *;
