@use "product/base" as *;
@use "product/forms" as *;
@use "product/title-price" as *;
@use "product/images" as *;
@use "product/quick-view" as *;
@use "product/dropdown" as *;
@use "product/quantity" as *;
@use "product/colors" as *;
@use "product/photo-upload" as *;
@use "product/brands" as *;
@use "product/labels" as *;
@use "product/additional-info" as *;
@use "product/tags-social" as *;
@use "product/variations" as *;
@use "product/buttons" as *;
@use "product/lists" as *;
@use "product/deal-product" as *;
@use "components/animations" as *;
