@use "../variables" as *;

.product-images {
    position: relative;
    margin-bottom: 48px;

    &.vertical {
        padding-left: 210px;

        @media #{$laptop-device} { padding-left: 140px; }
        @media #{$desktop-device} { padding-left: 110px; }
        @media #{$tablet-device} { padding-left: 155px; }
        @media #{$large-mobile} { padding-left: 110px; }
        @media #{$small-mobile} { padding-left: 95px; }
        @media #{$extra-small-mobile} { padding-left: 75px; }

        &.animate__animated.animate__fadeIn {
            border: none;
            background-color: transparent;
            padding: 15px;
            position: relative;
            display: flex;

            .product-thumb-slider-vertical {
                position: relative;
                width: 200px;
                min-height: 300px;
                overflow-y: auto;
                z-index: 10;

                .item {
                    width: 190px;
                    height: 190px;
                    margin-bottom: 10px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .product-gallery-slider {
                margin-left: 50px;
                flex: 1;
                min-height: 100px;
                position: relative;
                z-index: 5;
            }

            &:hover {
                box-shadow: 0 0 15px rgba(0, 108, 102, 0.3);
            }

            .preview-item {
                border: 1px solid $primary2;
                border-radius: 5px;
                padding: 5px;
                margin: 5px;
                transition: $transition;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }
}

/* === НОВИЙ БЛОК: КНОПКА ЗУМУ === */
.product-zoom {
    position: relative;
    display: block;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .product-gallery-popup {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 10;
        background: rgba(255, 255, 255, 0.8);
        border: 1px solid $primary;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: $transition;
        opacity: 0; // ховаємо за замовчуванням

        &:hover {
            background: $primary;
            color: white;
            transform: scale(1.1);
            opacity: 1;
        }

        i {
            font-size: 18px;
        }
    }

    &:hover .product-gallery-popup {
        opacity: 1; // показуємо при наведенні
    }
}
