@use "../variables" as *; // Імпортує змінні з файлу "../variables" і робить їх доступними під псевдонімом *

/* Quick View Modal */ // Коментар, що позначає секцію стилів для модального вікна швидкого перегляду
.quickViewModal { // Визначає стилі для модального вікна швидкого перегляду
    & .product-gallery-slider-quickview { // Стилі для слайдера галереї в модальному вікні швидкого перегляду
        margin: 0; // Прибирає зовнішні відступи
        padding: 0; // Прибирає внутрішні відступи

        & .slick-list { // Стилі для контейнера списку слайдів (Slick Slider)
            margin: 0; // Прибирає зовнішні відступи для списку слайдів

            & .slick-slide { // Стилі для окремих слайдів
                & > div { // Стилі для вмісту слайду
                    padding: 0; // Прибирає внутрішні відступи
                }
            }
        }

        & .slick-dots { // Стилі для навігаційних точок слайдера (Slick Slider)
            position: absolute; // Абсолютне позиціонування точок
            bottom: 40px; // Розташовує точки на 40px від нижнього краю
            left: 0; // Притискає точки до лівого краю
            width: 100%; // Встановлює ширину 100% для розміщення точок по всій ширині
        }
    }
}
