@use "../variables" as *; // Імпортує файл variables з батьківської директорії та робить усі його змінні доступними без префікса

/* Section Title Style One */
.section-title { // Визначає стилі для заголовка секції першого стилю
    margin-bottom: 80px; // Нижній відступ

    & .sub-title { // Стилі для підзаголовка
        font-family: $modesty; // Встановлює шрифт
        font-size: 60px; // Розмір шрифту
        font-weight: 300; // Товщина шрифту
        line-height: 1; // Висота рядка
        margin-bottom: 5px; // Нижній відступ
        color: $primary2; // Колір тексту

        &:last-child { // Стилі для останнього підзаголовка
            margin-bottom: 0; // Прибирає нижній відступ
        }
    }

    & .title { // Стилі для основного заголовка
        font-size: 56px; // Розмір шрифту
        font-weight: 400; // Товщина шрифту
        line-height: 1; // Висота рядка
        margin-bottom: 0; // Прибирає нижній відступ
        color: $heading-color; // Колір тексту

        &.title-icon-both { // Стилі для заголовка з іконками з обох сторін
            &::before { // Стилі для псевдоелемента ::before
                padding-right: 10px; // Правий відступ
                content: url("../images/title/title-decor-left.webp"); // Додає зображення
            }

            &::after { // Стилі для псевдоелемента ::after
                padding-left: 10px; // Лівий відступ
                content: url("../images/title/title-decor-right.webp"); // Додає зображення
            }
        }

        &.title-icon-left { // Стилі для заголовка з іконкою зліва
            &::before { // Стилі для псевдоелемента ::before
                padding-right: 10px; // Правий відступ
                content: url("../images/title/title-decor-left.webp"); // Додає зображення
            }
        }

        &.title-icon-right { // Стилі для заголовка з іконкою справа
            &::after { // Стилі для псевдоелемента ::after
                padding-left: 10px; // Лівий відступ
                content: url("../images/title/title-decor-right.webp"); // Додає зображення
            }
        }
    }

    @media #{$tablet-device} { // Медіа-запит для планшетів
        & .sub-title { // Змінює підзаголовок
            font-size: 60px; // Змінює розмір шрифту
        }

        & .title { // Змінює заголовок
            font-size: 44px; // Змінює розмір шрифту
        }
    }

    @media #{$large-mobile} { // Медіа-запит для великих мобільних
        margin-bottom: 60px; // Змінює нижній відступ

        & .sub-title { // Змінює підзаголовок
            font-size: 50px; // Змінює розмір шрифту
        }

        & .title { // Змінює заголовок
            font-size: 30px; // Змінює розмір шрифту
        }
    }

    @media #{$small-mobile} { // Медіа-запит для маленьких мобільних
        margin-bottom: 50px; // Змінює нижній відступ

        & .sub-title { // Змінює підзаголовок
            font-size: 40px; // Змінює розмір шрифту
        }

        & .title { // Змінює заголовок
            font-size: 24px; // Змінює розмір шрифту

            &::before, // Прибирає псевдоелементи
            &::after { // Прибирає псевдоелементи
                display: none !important; // Ховає елементи
            }
        }
    }
}

/* Section Title Style Two */
.section-title2 { // Визначає стилі для заголовка секції другого стилю
    margin-bottom: 80px; // Нижній відступ

    & .sub-title { // Стилі для підзаголовка
        font-family: $modesty; // Встановлює шрифт
        font-size: 56px; // Розмір шрифту
        font-weight: 300; // Товщина шрифту
        line-height: 1; // Висота рядка
        margin-bottom: 8px; // Нижній відступ
        color: $primary2; // Колір тексту
    }

    & .title { // Стилі для основного заголовка
        font-size: 40px; // Розмір шрифту
        font-weight: 400; // Товщина шрифту
        line-height: 1; // Висота рядка
        margin-bottom: 0; // Прибирає нижній відступ
        color: $heading-color; // Колір тексту

        &.title-icon-both { // Стилі для заголовка з іконками з обох сторін
            &::before { // Стилі для псевдоелемента ::before
                padding-right: 10px; // Правий відступ
                content: url("../images/title/title-decor-left.webp"); // Додає зображення
            }

            &::after { // Стилі для псевдоелемента ::after
                padding-left: 10px; // Лівий відступ
                content: url("../images/title/title-decor-right.webp"); // Додає зображення
            }
        }

        &.title-icon-left { // Стилі для заголовка з іконкою зліва
            &::before { // Стилі для псевдоелемента ::before
                padding-right: 10px; // Правий відступ
                content: url("../images/title/title-decor-left.webp"); // Додає зображення
            }
        }

        &.title-icon-right { // Стилі для заголовка з іконкою справа
            &::after { // Стилі для псевдоелемента ::after
                padding-left: 10px; // Лівий відступ
                content: url("../images/title/title-decor-right.webp"); // Додає зображення
            }
        }
    }

    & p { // Стилі для абзаців
        line-height: 1.75; // Висота рядка
        max-width: 570px; // Максимальна ширина
        margin-top: 25px; // Верхній відступ
    }

    &.text-center { // Стилі для .section-title2 з класом text-center
        & p { // Змінює абзаци
            margin-right: auto; // Центрує праворуч
            margin-left: auto; // Центрує ліворуч
        }
    }

    @media #{$large-mobile} { // Медіа-запит для великих мобільних
        margin-bottom: 60px; // Змінює нижній відступ

        & .sub-title { // Змінює підзаголовок
            font-size: 50px; // Змінює розмір шрифту
        }

        & .title { // Змінює заголовок
            font-size: 32px; // Змінює розмір шрифту
        }

        & p { // Змінює абзаци
            margin-top: 15px; // Змінює верхній відступ
        }
    }

    @media #{$small-mobile} { // Медіа-запит для маленьких мобільних
        margin-bottom: 50px; // Змінює нижній відступ

        & .sub-title { // Змінює підзаголовок
            font-size: 40px; // Змінює розмір шрифту
        }

        & .title { // Змінює заголовок
            font-size: 24px; // Змінює розмір шрифту

            &::before, // Прибирає псевдоелементи
            &::after { // Прибирає псевдоелементи
                display: none !important; // Ховає елементи
            }
        }

        & p { // Змінює абзаци
            margin-top: 10px; // Змінює верхній відступ
        }
    }

    @media #{$desktop-device} { // Медіа-запит для десктопів
        & .title { // Змінює заголовок
            font-size: 34px; // Змінює розмір шрифту
        }
    }

    @media #{$extra-small-mobile} { // Медіа-запит для дуже маленьких мобільних
        & .title { // Змінює заголовок
            font-size: 28px; // Змінює розмір шрифту
        }
    }
}

/* Section Title Style Three */
.section-title3 { // Визначає стилі для заголовка секції третього стилю
    margin-bottom: 80px; // Нижній відступ
    padding: 20px 0; // Вертикальні внутрішні відступи
    background-size: auto 100%; // Розмір фону

    & .sub-title { // Стилі для підзаголовка
    }

    & .title { // Стилі для основного заголовка
        font-size: 40px; // Розмір шрифту
        font-weight: 400; // Товщина шрифту
        line-height: 1; // Висота рядка
        margin-bottom: 0; // Прибирає нижній відступ
        color: $heading-color; // Колір тексту
    }

    & .desc { // Стилі для опису
        font-weight: 400; // Товщина шрифту
        line-height: 1.5; // Висота рядка
        margin-top: 15px; // Верхній відступ
    }

    @media #{$large-mobile} { // Медіа-запит для великих мобільних
        margin-bottom: 60px; // Змінює нижній відступ

        & .sub-title { // Змінює підзаголовок
            font-size: 50px; // Змінює розмір шрифту
        }

        & .title { // Змінює заголовок
            font-size: 32px; // Змінює розмір шрифту
        }

        & p { // Змінює абзаци
            margin-top: 15px; // Змінює верхній відступ
        }
    }

    @media #{$small-mobile} { // Медіа-запит для маленьких мобільних
        margin-bottom: 50px; // Змінює нижній відступ

        & .sub-title { // Змінює підзаголовок
            font-size: 40px; // Змінює розмір шрифту
        }

        & .title { // Змінює заголовок
            font-size: 24px; // Змінює розмір шрифту
        }

        & p { // Змінює абзаци
            margin-top: 10px; // Змінює верхній відступ
        }
    }
}

/* Section Title Style Four */
.section-title4 { // Визначає стилі для заголовка секції четвертого стилю
    margin-bottom: 80px; // Нижній відступ

    & .title { // Стилі для основного заголовка
        font-family: $modesty; // Встановлює шрифт
        font-size: 72px; // Розмір шрифту
        font-weight: 400; // Товщина шрифту
        line-height: 1; // Висота рядка
        margin-bottom: 0; // Прибирає нижній відступ

        &.title-icon-both { // Стилі для заголовка з іконками з обох сторін
            &::before { // Стилі для псевдоелемента ::before
                padding-right: 10px; // Правий відступ
                content: url("../images/title/title-decor-left.webp"); // Додає зображення
            }

            &::after { // Стилі для псевдоелемента ::after
                padding-left: 10px; // Лівий відступ
                content: url("../images/title/title-decor-right.webp"); // Додає зображення
            }
        }

        &.title-icon-left { // Стилі для заголовка з іконкою зліва
            &::before { // Стилі для псевдоелемента ::before
                padding-right: 10px; // Правий відступ
                content: url("../images/title/title-decor-left.webp"); // Додає зображення
            }
        }

        &.title-icon-right { // Стилі для заголовка з іконкою справа
            &::after { // Стилі для псевдоелемента ::after
                padding-left: 10px; // Лівий відступ
                content: url("../images/title/title-decor-right.webp"); // Додає зображення
            }
        }
    }

    @media #{$tablet-device} { // Медіа-запит для планшетів
        & .title { // Змінює заголовок
            font-size: 60px; // Змінює розмір шрифту
        }
    }

    @media #{$large-mobile} { // Медіа-запит для великих мобільних
        margin-bottom: 60px; // Змінює нижній відступ

        & .title { // Змінює заголовок
            font-size: 50px; // Змінює розмір шрифту
        }
    }

    @media #{$small-mobile} { // Медіа-запит для маленьких мобільних
        margin-bottom: 50px; // Змінює нижній відступ

        & .title { // Змінює заголовок
            font-size: 40px; // Змінює розмір шрифту

            &::before, // Прибирає псевдоелементи
            &::after { // Прибирає псевдоелементи
                display: none !important; // Ховає елементи
            }
        }
    }
}
